
@media (max-device-width: 550px){



#imggirafe{
   width: 111%;
   margin-top: 150px;
}


#wrap2{

    display:grid;
    grid-template-columns: 100%;
    height: 1900px;
    margin-top:-200px;
    margin-bottom:00px ;
}



#james{
    padding-top:15px ;
   padding-bottom:14px;
   padding-left:92px ;
  font-size:37px;
   
  
}

#rightside{
    margin-top: -390px;
    height: 150%;
}



#boul{
   font-size: 37px;
  
  padding-top: 17px;
  padding-left:92px ;
  padding-bottom: 20px;
}

#mail{
   font-size: 37px;
      
      padding-top:17px ;
      padding-left:92px ;

}

#num{
    font-size: 37px;
   padding-bottom:20px ;
   padding-left:92px ;
}


#inlineFrameExample{
    
    margin-top: 120px;
    margin-left:92px ;
}



}


@media screen and (min-device-width: 550px) and (max-device-width: 1024px){


    #num{

        color:white;
    }
}