@font-face {
   font-family: mySecFont;
   src: url(HelveticaNeueLight.ttf);
   font-weight: 100;
 }



.photoensemble{
    position: relative;
    
    
    width: 100%;
           
    
            z-index: -10;
    
    
    
    
        }












        #posterensemble{
       
     
         height:400px;
         
      bottom:0px;
        margin-top: 30px;
         top: 00px;
         position: relative;
          display: grid;
         grid-template-columns:  200px 200px 200px 200px 200px;
       grid-gap: 50px; 
        margin-left: auto;
       margin-right: auto;
       width: 1220px;
       
      /*  padding-left: 6%; */
 
   
     
 
 
 
     
       
     }

     #posterwrap{
      width: 100%;
     
  }


  #thirdpartbis{
   margin-top: -130px;
   position: relative;
   
   margin-bottom: -500px;
   height: 930px; 
  
   width: 100%;

}

 #poster1{
   
    margin-top: 25px;
    font-family: helvetica;
    margin-left: 4%;
    position: relative;
    float: left;
    width: 200px;

    
 }


 #poster1:hover{
   
  
   transform: scale(1.05);

   transition-duration: 500ms;
transition-property: transform;
   
}


 .photoavocat{
    border-radius: 30px;
    width: 110%;
    padding-bottom: -100px;

    height: 260px; object-fit: cover;
    object-position: -20% 0;
    
 }

 .photoavocat:hover{
   transform: scale(1.05);

   transition-duration: 500ms;
transition-property: transform;

 }

 #poster1 h5{
    font-weight: 100;
    text-align: center;
        width: 200px;
        margin-top: -15px;
     }

  


.firstname{
    font-weight: 100;
    margin-top: 10px;
    text-align: center;
        width: 200px;
    
}


     .surname{
        font-weight: 100;
        margin-top: -20px;
        text-align: center;
        width: 200px;
     }


   

   .flechegauch{
      position: absolute;
      display: block;
      width: 50px;
      z-index: 5000;
      margin-left: 2%;
      margin-top: 100px;
   }
   
  .flechedroit{
      position: absolute;
      display: block;
      width: 50px;
      z-index:5000;
      margin-left: 94%;
      margin-top: 100px;
   }

  




     #nospartenaires{
        position: relative;
        background-color: #57594B;
        height: 170px;
    
        display: grid;
        grid-template-columns: 130px 50px;
       
        /* width:100%; */
        font-family: Helvetica Neue;
        font-weight: 100;
        padding-left: 5%;
      
     }


     #nospartenaires p{
      font-family: mySecFont;
        color: white;
       /*  padding-left: 6.5%; */
        padding-top: 30px;

     }


     #verticallinepart{
        height:210px;
    width:1px;
    background-color: white;
    display: block;
    position: absolute;
    margin-left: 49.5vw;
    margin-top: -170px;
    z-index: 2000;

     }


     #verticalline5{
       display: none;
    }


    #revo{
      padding-top: 50px;
      height: 80px;
    }

#name1{
   color:rgb(255, 170, 70);
}


@media (max-width: 1200px){


   #thirdpartbis{
      
       
       height: 1330px; 
     
   }


   #posterensemble{
      
       grid-template-columns:  200px 200px 200px 200px;
     grid-gap: 50px; 
      margin-left: auto;
     margin-right: auto;
     width: 970px;

     height: 300px;

  

   margin-bottom: -300px;
     
    /*  padding-left: 6%; */

 
     



   
     
   }




} 


@media (max-width: 990px){




   #posterensemble{
      
       grid-template-columns:  200px 200px 200px;
     grid-gap: 50px; 
      margin-left: auto;
     margin-right: auto;
     width: 720px;
     
    /*  padding-left: 6%; */

 
     


   }
   
     
   }

@media (max-width: 757px){


   #thirdpartbis{
      
       
       height: 1750px; 
     
   }


   #posterensemble{
      
       grid-template-columns:  200px 200px;
     grid-gap: 50px; 
      margin-left: auto;
     margin-right: auto;
     width: 476px;
     
    /*  padding-left: 6%; */

 
     



   
     
   }


   





} 