
   /*   firstpart */

   
   @keyframes example2 {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  

   
   
   #avocatmaispasque{
    
    animation-name: example2;
    animation-duration: 5s;
    background-color: white;

 
   
   }




  

   #verticalbar1{
  
    background-color: white;
    

   } 

   #verticalbar2{
   
   
    background-color: white;
    

   } 

   #verticalbar3{
  
   
    background-color: white;
   
    

   } 




/* second part */

@font-face {
    font-family: mySecFont;
    src: url(HelveticaNeueLight.ttf);
    font-weight: 100;
  }


  @font-face {
    font-family: merry;
    src: url(Merriweather-Black.ttf);
    font-weight: 100;
  }


#droitsocialwrap{
    font-family: mySecFont;
    font-weight: 100;
    background-color: #57594B;
    min-height: 453px;
    color: white;
    text-align: left;
    
   
}

#droittitle{
    font-family: mySecFont;
    padding-left: 8.7%;
    padding-top: 43px;
    font-size: 30px;
    color: white;
}


.socialfirstpara{
    padding-left: 8.7%;
    width:80%;
    color: white;
    font-size: 17px;
    font-weight: 100;
    line-height: 23px;
    font-family: mySecFont;
    
}


#socialtwoparawrap{

    display: grid;
    grid-template-columns: 45% 95%;
    grid-gap: 5px;
    padding-top: 15px;
    padding-left: 8.7%;
    font-size: 17px;
    font-weight: 200;
    line-height: 23px;
    font-family: mySecFont;
    text-align: left;
}

#socialparaone{
    width: 95%;
}

#socialparaone li{
    margin-left: -28px;
}

#socialparatwo{
    width: 49%;
}

#relationco{
    padding-top: 10px;
    padding-bottom: 10px;
}



/* third part */

#droitcommercialwrap{
   /*  margin-top: 30px;
    margin-bottom: 30px; */

    display: grid;
    grid-template-columns: 65% 35%;
    text-align: justify;
    
}


#droitcomleft{
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 13%;
    width: 75%;
    background-color: white;
}

#droitcomleft h1{
    
    font-family: mySecFont;
    font-size: 30px;
}

#droitcomleft p{
   
    font-size: 17px;
    font-weight: 200;
    line-height: 23px;
    font-family: mySecFont;
}

#droitcomleft ul{
   
    font-size: 17px;
    font-weight: 200;
    line-height: 23px;
    font-family: mySecFont;
    text-align: left;
}

#droitcomleft li{
    margin-left: -28px;
   
}

#droitcomright{
    background-color: #d6d7d6;
    height: 126%;
    margin-bottom: 0%;
    margin-top: -80px;
    z-index: -10;
}

#dossierpic{
     width: 500px; 
     height: 120%;
 float: right;
    
   
}



/* fourth part */


#droitimmotitle{
    padding-top: 40px;
    padding-left: 30px;
    font-family: mySecFont;
    font-size: 30px;
}

#droitimmowrap{
    padding-left: 117px;
    background-color: #57594B;
    min-height: 453px;
    color: white;
    
    padding-bottom: 37px;
    text-align: left;
   
}


.immofirstpara{
    padding-left: 30px;
    font-size: 17px;
    font-weight: 200;
    line-height: 23px;
    font-family: mySecFont;
    width: 90%;
}

#immotwoparawrap{
    display: grid;
    grid-template-columns: 45% 45%;
    padding-left: 30px;
    font-size: 17px;
    font-weight: 200;
    line-height: 23px;
    font-family: mySecFont;

}
#immoparaone li{
    margin-left: -40px;
}


#immoparatwo{
    width: 90%;
    margin-top: 60px;
}
/* 
fifth part */

#droitsocietewrap{
  
 padding-top: 10px;
     display: grid;
     grid-template-columns: 35% 65%;
     text-align: left;
 }


 #buildingpic{
    width: 450px; 

   height: 110%;
   
}

#droitcomright3{
    background-color: #d6d7d6;
    height: 120%;
    margin-top: -15px;
    z-index: -10;
}


#droitsocieteright{
    padding-top: 15px;
    padding-bottom: 7px;
margin-left: 10px;
    
    width: 80%;
}

#droitsocieteright h1{
    padding-left: 30px;
    font-family: mySecFont;
}

#droitsocieteright p{
    padding-left: 30px;
    font-size: 17px;
    font-weight: 200;
    line-height: 23px;
    font-family: mySecFont;
}

#droitsocieteright ul{
  
    font-size: 17px;
    font-weight: 200;
    line-height: 23px;
    font-family: mySecFont;
}




/* sixth part */

 #droitfiscul li{

    margin-left: -25px;
}

#droitfiscwrap{
    background-color: #57594B;
    height: 100%;
    color: white;
    
    padding-bottom: -10px;
    margin-bottom: -30px;
   
} 


#droitfisc{
    font-family: mySecFont;
    padding-left: 8.7%;
    padding-top: 43px;
    font-size: 30px;
    color: white;
}



.fiscfirstpara{
    padding-left: 8.7%;
    width:80%;
    color: white;
    font-size: 17px;
    font-weight: 100;
    line-height: 23px;
    font-family: mySecFont;
}

#fisctwoparawrap{
    padding-left: 8.7%;
    width:80%;
    color: white;
    font-size: 17px;
    font-weight: 100;
    line-height: 23px;
    font-family: mySecFont;
}

/* seventh part */

#droitinellectuelwrap{
     padding-top: 35px;
    /*  margin-bottom: 30px; */
     text-align: left;
     display: grid;
     grid-template-columns: 65% 35%;
    
 }


 #propricomleft{
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 13%;
    width: 80%;
    background-color: white;
 }


 #propricomleft h1{
    font-size: 30px;
    font-family: mySecFont;
}

#propricomleft p{
   
    font-size: 17px;
    font-weight: 200;
    line-height: 23px;
    font-family: mySecFont;
}

#propricomleft ul{
   
    font-size: 17px;
    font-weight: 200;
    line-height: 23px;
    font-family: mySecFont;
    margin-left: -3.5%;
}

#droitcomright2{
    background-color: #d6d7d6;
    height: 110%;
    margin-top: -5px;
}


 @media (max-width: 1280px){


/* thirdpart */


    #droitcommercialwrap{
       
         grid-template-columns: 100%;
         
        
       
     }


     #droitcomleft{
        
        margin-left: -4.5%;
        width: 91.5%;
        background-color: white;
    }

    #droitcomleft p{
        
        width: 80%;
      }


    #droitcomleft li{
        
      width: 80%;
    }
     #droitcomright{
        height: 150%;
        margin-bottom: 0%;
        margin-top: -25%;
        z-index: -20;
    }

     #dossierpic{
        width: 100%; 
        height: 120%;

      
   }


   .crop-container4 {
   
    overflow: hidden;
}
.crop-container4 img {
   
    margin-bottom: -40px;
    
    
}

  /*  fourth part */

    #droitimmowrap{margin-top: -0%;
   
  } 

  /* fifth part */


#droitcomright3{
   /*  margin-top: -700px; */
    height: 130%;
        margin-bottom: 0%;
        margin-top: -46%;
        z-index: -10;
}

     #droitsocietewrap{
        grid-template-columns: 100%;
     }


     #droitsocieteright{
        margin-top: -0%;
        margin-left: 5%;
     }

     #droitsocieteright h1{
        font-size: 30px;
     }

     #droitsocieteright li{
        
        margin-left: 1%;
     }



#buildingpic{
    height: 100%;
    width: 100%;
    margin-top: 00px;

}


.crop-container1 {
   
    overflow: hidden;
}
.crop-container1 img {
   
    margin-bottom: -80%;
    
    
}
     

/* sixth part */

#droitfiscwrap{
    height: 110%;
}


   /*   seventh part */

     #droitinellectuelwrap{
      
        grid-template-columns: 105%;
        
       /*  height: 800px; */
     }







#droitcomright2{
    display: none;
    z-index: -20;
    margin-top: 5%;
    width: 1265px;

    height: 860px;
   
    
}

.crop-container {
   
    overflow: hidden;
}
.crop-container img {
   margin-top: -720px;
     margin-bottom: 30%;
   
    
}

#propricomleft{
    width: 86.5%;
    margin-left: -4%;
}

#gifpic{
    width: 100%; 
    height: 120%;
}




 }