 @media (max-device-width: 550px){ 

#windowswrap{

    margin-top: -600px;
}


/* droit social */

html * {max-height:1000000px;}


#droitsocialwrap{
    width: 100%;
    max-height: 999999px;
    text-size-adjust: none;
}


#droittitle{
    text-size-adjust: none;
    font-size: 60px;
    max-height: 999999px;
   
    
}



 .socialfirstpara{
    text-size-adjust: none;
    max-height: 999999px;
    line-height: 50px;
    width:800px;
    font-size: 40px;
    
} 


#socialtwoparawrap{
    text-size-adjust: none;
    
    font-size: 41.3px;
   
    line-height: 50px;
    grid-template-columns: 95%;
  
}

#socialparaone{
    font-size: 40px;
}



#socialparatwo{
    width: 90%;
    font-size: 40px;
}


/* droit commercial */

#droitcomleft h1{
    
     text-size-adjust: none;
    font-size: 60px;
}

#droitcomleft p{
    text-size-adjust: none;
    font-size: 40px;
    font-weight: 100;
    line-height: 50px;
    text-align: left;
    
}

#droitcomleft li{
   text-size-adjust: none;
    font-size: 40px;
    font-weight: 100;
    line-height: 50px;
}



/* droit immobilier */


#droitimmowrap h1{
    
     text-size-adjust: none;
    font-size: 60px;
}

.immofirstpara{
    text-size-adjust: none;
    font-size: 40px;
    font-weight: 100;
    line-height: 50px;
    text-align: left;
    
}

#immotwoparawrap{
   text-size-adjust: none;
    font-size: 40px;
    font-weight: 100;
    line-height: 50px;
    grid-template-columns: 95%;
    
}

#immoparatwo{
    margin-left: -25px;
}




/* droit societes */

#droitsocieteright h1{
    padding-left: 60px;
    font-family: mySecFont;
    font-size: 60px;
     text-size-adjust: none;

}



#droitsocieteright p{
  
    font-size: 40px;
    line-height: 50px;
    text-size-adjust: none;
  
}

#droitsocieteright ul{
    font-size: 40px;
    line-height: 50px;
    text-size-adjust: none;
   
}


/* droit fiscal */

#droitfisc{
   
    font-size: 60px;
    
}

.fiscfirstpara{
    font-size: 40px;
    line-height: 50px;

}

#fisctwoparawrap{
    font-size: 40px;
    line-height: 50px;
}

#fiscone{
    font-size: 40px;
    line-height: 50px;
}


#fiscparatwo{
    font-size: 40px;
    line-height: 50px;
}


/* propriete intellectuelle */

#propricomleft h1{
    font-size: 60px;
    font-family: mySecFont;
}


#propricomleft p{
    line-height: 50px;
    font-size: 40px;
    
}

#propricomleft ul{
    line-height: 50px;
    font-size: 40px;
}

 } 