#footerwrap{
    position: relative;
    background-color: black;
    height: 160px;

    display: grid;
    grid-template-columns: 50% 50%;
   
    width:100%;
    font-family: Helvetica Neue;
    font-weight: 100;
}


#footerleft{
    padding-top: 0px;
    padding-left: 9%;
    color: white;
    font-size: 15px;
}

#copy{
    font-size: 13px;
    margin-top: 30px;
}

#footerright{
   
    padding-top: 62px;
    padding-left: 10%;
    color: white;
    line-height: 20px;
    font-size: 15px;
}


#verticalline5{
    height:45px;
    width:1px;
    background-color: white;
    display: block;
    position: absolute;
    margin-left: 50%;
    margin-top: 0px;
}



.logoavocatblanc{
    width: 180px;
    margin-left: -5px;
    padding-top: 35px;
}