@font-face {
  font-family: mySecFont;
  src: url(HelveticaNeueLight.ttf);
  src: url(HelveticaNeueBold.ttf); 
  font-weight: 100;
}

html,body{
   overflow-x: hidden;
}



 body { 
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px
 } 



.mainphotohome1{
    
    z-index: -100;
  
    width: 100%;
/* margin-left: -8px; */
    position: relative;
     
      /* margin-bottom: 20%; */
    
    margin-top: 25px;
   
    

    animation-name: zoompic;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  
    
}

 @keyframes zoompic {
    from {transform:scaleY(1.1)}
    to {transform:scaleY(1.2)}
  } 
  

 
  





#firsttitle{
  font-family: mySecFont;
    z-index: 10;
    color: white;
    margin-top: -23%;
    width: 690px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
}


/* #firstwrap{
    
    
    
    position: relative;
padding-top: 10px;
   
    display: block;
    z-index: 0;
    
    
} */

#ftitlewrap{
    position: absolute;
    
   height: 30px;
    width: 100%;
  
    
}

/* secondpart */



#secondpart{
   
    width: 100%;
   
    background-color: white;
    position: relative;
    
    /* height: 433px; */
    display: grid;
    grid-template-columns: 40% 40%;
    padding-top: 50px;
    padding-bottom: 50px;
    
}


.qui{
    
    opacity: 0;
    transition: 1s all ease;
 }

 .qui.active{
    opacity: 1;
   
 } 


 .apres{
    
    opacity: 0;
    transition: 2s all ease;
 }

 .apres.active{
    opacity: 1;
   
 } 








@font-face {
    font-family: myFirstFont;
    src: url(Merriweather-Black.ttf);
    font-weight: 100;
  }


 /*  @font-face {
    font-family: mySecFont;
    src: url(HelveticaNeue.ttc);
    font-weight: 100;
  } */

  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@200&display=swap');

#secondpartinner{
    
    color: black;
    
    position: relative;
    padding-top:5%;
    margin-top: -30px;
    margin-left: 20%;
    width: 90%;
    text-align: justify;
}

#secondpartinner p{
    font-weight:200;
    font-family: mySecFont;
    width:100%;
    line-height: 23px;
     font-size: 17px;
     font-weight: 100;
}

#secondpartinner h2{
   text-align: left;
  font-family: mySecFont;
    font-size: 40px;
    width: 105%;
}



#secondpartinner2{
    width: 100%;
    margin-left: 38%;
    margin-top: auto;
    margin-bottom: auto;
}

.phototable{
    width: 100%;
}



#verticalline2{
    height:45px;
    width:1px;
    background-color: white;
    display: block;
    position: absolute;
    margin-left: 50%;
    margin-top: 0px;
}


#verticalline3{
    height:45px;
    width:1px;
    background-color: white;
    display: block;
    position: absolute;
    margin-left: 50%;
    bottom: 0px;
    
}





/* thirdpart */
    .photoensemble{
position: relative;


width: 100%;
       

        z-index: -10;




    }


    .reveal{
        position: relative;
       margin-top: 0px;
        opacity: 0;
        transition: 4s all ease;
      }
      
      .reveal.active{
        margin-top: -13%;
        opacity: 1;
      }

 
      #malike{
        color:white;
        position: absolute;
        margin-top: -36%;
        margin-left: 9%;
        opacity: 0;
        
      }
    


      #lavergne{
        color:white;
        position: absolute;
        margin-top: -23%;
        margin-left: 28%;
        opacity: 0;
      }


      #elodie{
        color:white;
        position: absolute;
        margin-top: -43%;
        margin-left: 36%;
        opacity: 0;
      }


      #antoine{
        color:white;
        position: absolute;
        margin-top: -23%;
        margin-left: 63%;
        opacity: 0;
      }

      #anne{
        text-align: center;
        width: 120px;
        color:white;
        position: absolute;
        margin-top: -40%;
        margin-left: 66%;
        opacity: 0;
      }




   /*    #malike{
    
        opacity: 0;
        transition: 2s all ease;
     }
    
     #malike.active{
        opacity: 1;
       
     }  */


/* 
     #lavergne{
    
        opacity: 0;
        transition: 2.5s all ease;
     }
    
     #lavergne.active{
        opacity: 1;
       
     } 



     #elodie{
    
        opacity: 0;
        transition: 3s all ease;
     }
    
     #elodie.active{
        opacity: 1;
       
     } 



     #antoine{
    
        opacity: 0;
        transition: 3.5s all ease;
     }
    
     #antoine.active{
        opacity: 1;
       
     } 



     #anne{
    
        opacity: 0;
        transition: 4s all ease;
     }
    
     #anne.active{
        opacity: 1;
       
     } 
 */


     #malike1{
      margin-left: 10%;
      margin-top: -43%;
      z-index: 200;
      position: absolute;
      height:30vw;
      width:14%;
      
      
     }

      #lavergne1{
      margin-left: 22%;
      margin-top: -35%;
      z-index: 200;
      position: absolute;
      height:27vw;
      width:14%;

      
      
     }


     #elodie1{
      margin-left: 36%;
      margin-top: -50%;
      z-index: 200;
      position: absolute;
      height:27vw;
      width:14%;

     
      
     }


     #antoine1{
      margin-left: 52%;
      margin-top: -37%;
      z-index: 200;
      position: absolute;
      height:27vw;
      width:14%;
     
      
     }

     #anne1{
      margin-left: 71%;
      margin-top: -48%;
      z-index: 200;
      position: absolute;
      height:30vw;
      width:14%;

     
     
     }
 






 /* fourthpart */

 #poster1:hover{
   
  
  transform: scale(1.05);

  transition-duration: 500ms;
transition-property: transform;
  
}




.photoavocat:hover{
    transform: scale(1.05);

    transition-duration: 500ms;
transition-property: transform;
    
    
}

  .poster1reveal{
    
    opacity: 0;
    transition: 2s all ease;
 }

 .poster1reveal.active{
    opacity: 1;
   
 } 



 .poster1reveal2{
    
    opacity: 0;
    transition: 4s all ease;
 }

 .poster1reveal2.active{
    opacity: 1;
   
 } 



 .poster1reveal3{
    
    opacity: 0;
    transition: 6s all ease;
 }

 .poster1reveal3.active{
    opacity: 1;
   
 } 


 .poster1reveal4{
    
    opacity: 0;
    transition: 8s all ease;
 }

 .poster1reveal4.active{
    opacity: 1;
   
 } 



 .poster1reveal5{
    
    opacity: 0;
    transition: 10s all ease;
 }

 .poster1reveal5.active{
    opacity: 1;
   
 } 

 .poster1reveal6{
    
   opacity: 0;
   transition: 10s all ease;
}

.poster1reveal6.active{
   opacity: 1;
  
} 

.poster1reveal7{
    
   opacity: 0;
   transition: 10s all ease;
}

.poster1reveal7.active{
   opacity: 1;
  
} 


#thirdpartbis{
    margin-top: -450px;
    position: relative;
    background-color: white;
    margin-bottom: -400px;
    height: 1100px; 
   
    width: 100%;

}


#titleoffourth h4{
    padding-top: 50px;
    margin-top: 365px;
    padding-left: 8%;
    font-size: 30px;
    font-family: mySecFont;
       font-weight: 900;
       

}


#titleoffourth p{
    margin-top: -25px;
   padding-left: 8%;
   font-family: mySecFont;
   font-weight: 200;
   width: 35%;
   text-align: justify;
   font-size: 17px;


} 





   







#posterwrap{
    width: 100%;
   
}



    #posterensemble{
       
     
        height:400px;
        
    
       margin-top: 30px;
       
        top: 00px;
        position: relative;
         display: grid;
        grid-template-columns:  200px 200px 200px 200px 200px 200px 200px;
      grid-gap: 50px; 
       margin-left: auto;
      margin-right: auto;
      width: 1720px;
      
     /*  padding-left: 6%; */

  
      background-color: white;



    
      
    }


 #poster1{
   
    margin-top: 25px;
    font-family: helvetica;
    margin-left: 5%;
    position: relative;
    float: left;
    width: 200px;

    
 }


 .photoavocat{
    border-radius: 15px;
    width: 110%;
    height: 260px; object-fit: cover;
    object-position: -20% 0;
    padding-bottom: -100px;
 }


 #poster1 h5{
    font-weight: 100;
    text-align: center;
        width: 220px;
        margin-top: -15px;
     }


.firstname{
    font-weight: 100;
    margin-top: 10px;
    text-align: center;
        width: 220px;
    
}


     .surname{
        font-weight: 100;
        margin-top: -20px;
        text-align: center;
        width: 220px;
     }









   /*   fifthpart */

   #avocatmaispasque{
    
    width: 100%;
   
    top: 0px;
    clear: left;
    position: relative;
    background-color: #57594B;
   text-align: justify;
    font-weight: 100;
   
   }

   #maispasquetitle h2{
    font-family: mySecFont;
padding-left: 8%;
font-size: 30px;
width: 120%;
   }

   #maispasquetitle p{
    font-family: mySecFont;
    padding-left: 8%;
    width: 130%;
    font-size: 17px;
   
    z-index: 200;
   }
   
   .h2maispasque{
    
    opacity: 0;
    transition: 1s all ease;
 }

 .h2maispasque.active{
    opacity: 1;
   
 } 


 .pmaispasque{
  
    opacity: 0;
    transition: 6s all ease;
   
 }

 .pmaispasque.active{
    opacity: 1;
   
 } 


 .pasque{
    
  opacity: 0;
  transition: 8s all ease;
}

.pasque.active{
  opacity: 1;
 
} 


   #maispasquetitle{
   height: 40%;
    color: white;
    padding-top: 40px;
    margin-left: 5%;
    width: 35%;
    z-index: 110;
    display: block;
    padding-bottom: 30px;
    
   }




#bigwrappersquares{

   background-color: #57594B;
   margin-top: -10px;
   margin-bottom: 00px;
 }





 #wrapsquares{
   margin-left: 6%;
   
       display: grid;
       grid-template-columns: 30% 30% 30%;
       grid-gap: 3%;
      }

      #firstwindow{
        
         overflow: hidden;
         width: 92.2%;
         height:97%;
       }
       #secondwindow{
         overflow: hidden;
         width: 92.5%;
         height:97%;
       }
     
       #thirdwindow{
         overflow: hidden;
         width: 92.5%;
         height:97%;
       }

       #fourthwindow{
         background-color: #57594B;
         height: 93%;
         overflow: hidden;
         width: 92.5%;
         
       }
     
       #fifthwindow{
         overflow: hidden;
         width: 92.5%;
         height:97%;
       }

       #sixthwindow{
         overflow: hidden;
         width: 92.5%;
         height:94%;
       }
   
      .etiquettemaispasque{
      position: relative;
      margin-top: 0px;
      width: 100%;
      display: block;
       
        background-color: black;
    color:white;
    font-family: mySecFont;
       font-weight: 600;
       font-size: 17px;
        height: 35px;
     
        padding-left: 25px;
        padding-top: 15px;
        padding-bottom: -5px;
        padding-right: 10px;
        z-index: 10;
      
       
       }
   
   
   
   
       .etiquettemaispasque2{
         position: relative;
         margin-top: 0px;
         width: 100%;
         display: block;
          
           background-color: black;
       color:white;
       font-family: mySecFont;
          font-weight: 600;
          font-size: 17px;
           height: 35px;
        
           padding-left: 25px;
           padding-top: 15px;
           padding-bottom: -5px;
           padding-right: 10px;
           z-index: 10;
         
          
          }
   
      .photomaispasque1{
       display: block;
       width: 99.8%;
       z-index: 0;
      }
   
   
     
   
      .photomaispasque1:hover{
       transform: scale(1.08);
   
       transition-duration: 500ms;
   transition-property: transform;
   z-index: -1;
      }
   
      #verticalbar0{
       z-index: 0;
       top:7.1vw;
        left:0%;
        position: absolute;
        width:6.8%;
        height: 90%;
        background-color: #57594B;
        z-index: 10;
    
       } 

      
   
    #verticalbar1{
    
     top:7.1vw;
     left:30.8%;
     position: absolute;
     width:6.2%;
     height: 90%;
     background-color: #57594B;
     z-index: 10;
    
   
    } 
   
    #verticalbar2{
    
      top:7.1vw;
     left:62%;
     position: absolute;
     width:6%;
     height: 90%;
     background-color: #57594B;
     z-index: 10;
   
    } 
   
    #verticalbar3{
   
      top:7.1vw;
     left:91.8%;
     position: absolute;
     width:4%;
     height: 90%;
     background-color: #57594B;
     z-index: 10;
     
     
   
    } 
   
   
    #horizontal{
      
     
    margin-top: -1%;
     position: relative;
       width:96%;
       height: 50px;
       background-color: #57594B;
       
   
      } 
   
      #horizontal2{
      
     
       margin-top: -3%;
        position: relative;
          width:96%;
          height: 50px;
          background-color: #57594B;
          
      
         }

         #split{
            display: none;
         }



         @media (max-width: 1700px){



    #posterensemble{
       
     
      height:400px;
      
  
     margin-top: 30px;
     
      top: 00px;
      position: relative;
       display: grid;
      grid-template-columns:  200px 200px 200px 200px 200px;
    grid-gap: 50px; 
     margin-left: auto;
    margin-right: auto;
    width: 1440px;
    




  
    
  }


  #thirdpartbis{
  
   margin-bottom: 00px;
 
}



         }



@media (max-width: 1200px){


    #thirdpartbis{
       
        
        height: 1550px; 
      
    }


    #posterensemble{
       
        grid-template-columns:  200px 200px 200px 200px;
      grid-gap: 50px; 
       margin-left: auto;
      margin-right: auto;
      width: 970px;
      
     /*  padding-left: 6%; */

  
      background-color: white;



    
      
    }




} 


@media (max-width: 990px){




    #posterensemble{
       
        grid-template-columns:  200px 200px 200px;
      grid-gap: 50px; 
       margin-left: auto;
      margin-right: auto;
      width: 720px;
      
     /*  padding-left: 6%; */

  
      background-color: white;


    }
    
      
    }



    




@media (max-width: 757px){


    #thirdpartbis{
       
        
        height: 2100px; 
      
    }


    #posterensemble{
       
        grid-template-columns:  200px 200px;
      grid-gap: 50px; 
       margin-left: auto;
      margin-right: auto;
      width: 476px;
      
     /*  padding-left: 6%; */

  
      background-color: white;



      

    
      
    }


    





} 




@media (max-width: 830px){


    #firsttitle{
        
        z-index: 10;
        color: white;
        margin-top: -40%;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 40px;
    }


    #secondpart{
       
        grid-template-columns: 80%;
       
    }

  

    #secondpartinner2{
        width: 100%;
        margin-left: 15%;
        margin-top: auto;
        margin-bottom: auto;
    }


  
      
          }


          
            
                  @media (max-width: 980px){
            
                     #split{
                        display: block;
                     }


                    

                    .etiquettemaispasque2{
                      
                     padding-right: 600px;
                        padding-top: 7px;
                        height: 45px; 
                       
                       }
            
                  }
            
            
                  
            
            
            
                 
            
            
             @media (max-width: 775px){
            
              
            
            
              .etiquettemaispasque{
             
                  padding-left: 5px;
                 font-size: 10px;
                 
                
                 
                 }
            
                 .etiquettemaispasque2{
                  padding-top: 15px;
                  padding-left: 5px;
                 font-size: 10px;
                 height: 35px;
               
                 
                
                 
                 }
                 #verticalbar0{
                  width:5.9%;
                   height: 90%;
                  
               
                  } 
              
              
            
            
                
            
            
             } 
            