.mainphotohome1{
    
    z-index: -100;
  
    width: 100%;
/* margin-left: -8px; */
    position: relative;
     
      /* margin-bottom: 20%; */
    
    margin-top: 25px;
   
    

    animation-name: zoompic;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  
    
}

 @keyframes zoompic {
    from {transform:scaleY(1.1)}
    to {transform:scaleY(1.3)}
  } 
  

 
  





#firsttitle{
    
    z-index: 10;
    color: white;
    margin-top: -23%;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
}


/* #firstwrap{
    
    
    
    position: relative;
padding-top: 10px;
   
    display: block;
    z-index: 0;
    
    
} */

#ftitlewrap{
    position: absolute;
    
   height: 30px;
    width: 100%;
  
    
}

/* secondpart */



#secondpart{
   
    width: 100%;
   
    background-color: #57594B;
    position: relative;
    
    /* height: 433px; */
    display: grid;
    grid-template-columns: 40% 40%;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

@font-face {
    font-family: myFirstFont;
    src: url(Merriweather-Black.ttf);
    font-weight: 100;
  }


  @font-face {
    font-family: mySecFont;
    src: url(HelveticaNeue.ttc);
    font-weight: 100;
  }

  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@200&display=swap');

#secondpartinner{
    
    color: white;
    
    position: relative;
    padding-top:5%;
    margin-top: -30px;
    margin-left: 20%;
    width: 100%;
}

#secondpartinner p{
    font-weight:200;
    font-family: Helvetica Neue;
    width:100%;
    line-height: 23px;
}

#secondpartinner h2{
    font-family: Merriweather;
    font-size: 40px;
    width: 105%;
}



#secondpartinner2{
    width: 100%;
    margin-left: 38%;
    margin-top: auto;
    margin-bottom: auto;
}

.phototable{
    width: 100%;
}



#verticalline2{
    height:45px;
    width:1px;
    background-color: white;
    display: block;
    position: absolute;
    margin-left: 50%;
    margin-top: 0px;
}


#verticalline3{
    height:45px;
    width:1px;
    background-color: white;
    display: block;
    position: absolute;
    margin-left: 50%;
    bottom: 0px;
    
}





/* thirdpart */
    .photoensemble{
position: relative;


width: 100%;
       

        z-index: -10;




    }


    .reveal{
        position: relative;
       margin-top: 0px;
        opacity: 0;
        transition: 4s all ease;
      }
      
      .reveal.active{
        margin-top: -13%;
        opacity: 1;
      }

 
      #malike{
        color:white;
        position: absolute;
        margin-top: -36%;
        margin-left: 9%;
      }
    


      #lavergne{
        color:white;
        position: absolute;
        margin-top: -23%;
        margin-left: 28%;
      }


      #elodie{
        color:white;
        position: absolute;
        margin-top: -43%;
        margin-left: 36%;
      }


      #antoine{
        color:white;
        position: absolute;
        margin-top: -23%;
        margin-left: 63%;
      }

      #anne{
        text-align: center;
        width: 120px;
        color:white;
        position: absolute;
        margin-top: -40%;
        margin-left: 66%;
      }



 /* fourthpart */

.photoavocat:hover{
    transform: scale(1.05);

    transition-duration: 500ms;
transition-property: transform;
    
    
}

  .poster1reveal{
    
    opacity: 0;
    transition: 2s all ease;
 }

 .poster1reveal.active{
    opacity: 1;
   
 } 



 .poster1reveal2{
    
    opacity: 0;
    transition: 4s all ease;
 }

 .poster1reveal2.active{
    opacity: 1;
   
 } 



 .poster1reveal3{
    
    opacity: 0;
    transition: 6s all ease;
 }

 .poster1reveal3.active{
    opacity: 1;
   
 } 


 .poster1reveal4{
    
    opacity: 0;
    transition: 8s all ease;
 }

 .poster1reveal4.active{
    opacity: 1;
   
 } 



 .poster1reveal5{
    
    opacity: 0;
    transition: 2s all ease;
 }

 .poster1reveal5.active{
    opacity: 1;
   
 } 


#thirdpartbis{
    margin-top: -450px;
    position: relative;
    background-color: white;
    margin-bottom: -500px;
   
   
    width: 100%;

}


#titleoffourth h4{
    padding-top: 50px;
    margin-top: 365px;
    padding-left: 8%;
    font-size: 40px;
       font-family: Merriweather;
       font-weight: 900;
       

}


#titleoffourth p{
    margin-top: -25px;
   padding-left: 8%;
   font-family: Helvetica Neue;
   font-weight: 200;
   width: 35%;


} 





   











    #posterensemble{

     
        height:65%;
        
     bottom:0px;
       margin-top: 30px;
        top: 00px;
        position: relative;
        /* display: grid;
        grid-template-columns:  18% 18% 18% 18% 18%;
      grid-gap: 25px; */
       margin-left: auto;
      margin-right: auto;
      width: 94%;
      margin-left: -8px;
     /*  padding-left: 6%; */

  
      background-color: white;



    
      
    }


 #poster1{
   
    margin-top: 25px;
    font-family: helvetica;
    margin-left: 5%;
    position: relative;
    float: left;
    width: 200px;

    
 }


 .photoavocat{
    border-radius: 15px;
    width: 110%;
    height: 260px; object-fit: cover;
    object-position: -20% 0;
    padding-bottom: -100px;
 }


 #poster1 h5{
    font-weight: 100;
    text-align: center;
        width: 200px;
        margin-top: -15px;
     }


.firstname{
    font-weight: 100;
    margin-top: 10px;
    text-align: center;
        width: 200px;
    
}


     .surname{
        font-weight: 100;
        margin-top: -20px;
        text-align: center;
        width: 200px;
     }









   /*   fifthpart */

   #avocatmaispasque{
    
    width: 100%;
    
    top: 0px;
    clear: left;
    position: relative;
    background-color: #57594B;
   
    font-weight: 100;
   
   }

   #maispasquetitle h2{
font-family: Merryweather;
padding-left: 8%;
font-size: 40px;
width: 120%;
   }

   #maispasquetitle p{
    font-family: Helvetica Neue;
    padding-left: 8%;
    width: 120%;
   }
   
   .h2maispasque{
    
    opacity: 0;
    transition: 1s all ease;
 }

 .h2maispasque.active{
    opacity: 1;
   
 } 


 .pmaispasque{
    
    opacity: 0;
    transition: 2s all ease;
 }

 .pmaispasque.active{
    opacity: 1;
   
 } 



   #maispasquetitle{
   
    color: white;
    padding-top: 40px;
    margin-left: 5%;
    width: 35%;
    z-index: 20;
    display: block;
    
   }


   .photomaispasque{
    width: 90%;
    margin-left: 5%;
    padding-top: 0px;
    padding-bottom: 60px;
   }


   .photomaispasque1{
    width: 90%;
    margin-left: 5%;
    padding-top: 30px;
    padding-bottom: 60px;
   }

  


   #windowswrap{
    position: relative;
    border:0px solid green;
   }


#secondwindowline{
    /* border:2px solid green; */
    position: relative;
    margin-top: -20px;

}




   #firstwindow{
    left:5%;
    top: 30px;
    position: absolute;
    width:28%;
    height: 41%;
   /*  background-color: red;
    opacity: 0.2; */

   }


   #secondwindow{
    left:36%;
    top: 30px;
    position: absolute;
    width:29%;
    height: 41%;
    /* background-color: green;
    opacity: 0.2; */

   }

   #thirdwindow{
    left:68%;
    top: 30px;
    position: absolute;
    width:27%;
    height: 41%;
    /* background-color: blue;
    opacity: 0.2; */
   }



   #fourthwindow{
    left:5%;
   top:0px;
    position: absolute;
    width:28%;
    height: 41%;
   /*  background-color: yellow;
    opacity: 0.2; */

    

   }


   #fifthwindow{
    left:36%;
   
    top:0px;
    position: absolute;
    width:29%;
    height: 42%;
  /*   background-color: pink;
    opacity: 0.2; */

   }

   #sixthwindow{
    left:67.5%;
  
    top:0px;
    position: absolute;
    width:28%;
    height: 42%;
   /*  background-color: brown;
    opacity: 0.2; */

   }


   #sixth{
    padding-left: 13px;
   }

   #horizontalbar{
   
  
    bottom:51%;
    position: absolute;
    width:100%;
    height: 6%;
    background-color: #2b2c26;
    

   } 

   #verticalbar1{
   z-index: 0;
    top:0px;
    left:32.3%;
    position: absolute;
    width:4%;
    height: 95%;
    background-color: #57594B;
    

   } 

   #verticalbar2{
   
    top: 0px;
    left:64%;
    position: absolute;
    width:4%;
    height: 90%;
    background-color: #57594B;
    

   } 

   #verticalbar3{
  
    top: 0px;
    left:95%;
    position: absolute;
    width:4%;
    height: 150%;
    background-color: #57594B;
    z-index: 10;
    

   } 



   .etiquettemaispasque{
    opacity: 1;
    position: absolute;
   
    background-color: black;
color:white;
   font-family: Helvetica Neue;
   font-weight: 600;
   font-size: 10px;
    height: 20px;
    width: 95%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: -5px;
    padding-right: 10px;
   
   }


  


   #verticalline4{
    height:45px;
    width:1px;
    background-color: white;
    display: block;
    position: absolute;
    margin-left: 50%;
    margin-top: 0px;
}




@media (max-width: 1434px){


    #thirdpartbis{
       
        
        height: 1700px; 
      
    }

} 

@media (max-width: 757px){


    #thirdpartbis{
       
        
        height: 2100px; 
      
    }

} 




@media (max-width: 830px){


    #firsttitle{
        
        z-index: 10;
        color: white;
        margin-top: -26%;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 40px;
    }


    #secondpart{
       
        grid-template-columns: 80%;
       
    }

  

    #secondpartinner2{
        width: 100%;
        margin-left: 15%;
        margin-top: auto;
        margin-bottom: auto;
    }


   /*  .photoensemble{
       
                top: -250px;
        
        
        
        
        
            } */


}