.mainphotohome1{
    width: 100%;
    position: relative;
    /*  top: -325px;  */
 /*   margin-top: -325px; */
    z-index: 0;
    
}



#firsttitle{
    position:absolute;
    z-index: 10;
    color: white;
    margin-top: -22%;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#firstwrap{
    top: -325px; 
    border:0px solid red;
    position: relative;
padding-top: 10px;
    /* height: 550px; */
    display: block;
    
    
}

#ftitlewrap{
    
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border:2px solid red;
}

/* secondpart */



#secondpart{
    background-color: #15284A;
    position: relative;
    top: -333px;
    /* height: 433px; */
    display: grid;
    grid-template-columns: 40% 40%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#secondpartinner{
    
    color: white;
    font-family: helvetica;
    font-weight: 100;
    padding-top:5%;
    margin-top: 0px;
    margin-left: 15%;
    width: 100%;
}

#busi{
    color:#FFAA46;
}


#secondpartinner2{
    width: 100%;
    margin-left: 30%;
    margin-top: auto;
    margin-bottom: auto;
}

.phototable{
    width: 100%;
}



/* thirdpart */
    .photoensemble{
position: relative;
        width: 100%;
        top: -333px;
    }


    /* fourthpart */
#fourthpart{
    
    border:0px solid green;
}

    #titleoffourth{
    margin-left: 8%;
    width:300px;
    position: relative;
       
        top: -333px;

    }

    #posterensemble{
       margin-top: 30px;
        top: -333px;
        position: relative;
        /* display: grid;
        grid-template-columns:  18% 18% 18% 18% 18%;
      grid-gap: 25px; */
       margin-left: auto;
      margin-right: auto;
      width: 90%; 

      border:0px solid red;
      
    }


 #poster1{
    margin-left: 5%;
    position: relative;
    float: left;
    width: 200px;
 }


 .photoavocat{
    border-radius: 10px;
    width: 100%;
 }


 #poster1 h5{
    text-align: center;
        width: 200px;
        margin-top: -5px;
     }


.firstname{
    margin-top: 10px;
    text-align: center;
        width: 200px;
    
}


     .surname{
        margin-top: -20px;
        text-align: center;
        width: 200px;
     }




#partenairewrap{
 
   
   top: -300px;
    position: relative;
 
 width: 200px;
 height: 50px;
 border:0px solid green;

}



     #nospartenaires{
       
        clear: left;
        margin-left: 8%;
       
     }




   /*   fifthpart */

   #avocatmaispasque{
    top: -150px;
    clear: left;
    position: relative;
    background-color: #2b2c26;
   
   }
   

   #maispasquetitle{
    color: white;
    padding-top: 40px;
    margin-left: 5%;
    width: 35%;
   }


   .photomaispasque{
    width: 90%;
    margin-left: 5%;
    padding-top: 30px;
    padding-bottom: 60px;
   }


  


   #windowswrap{
    position: relative;
    border:2px solid green;
   }


   #firstwindow{
    left:5%;
    top: 30px;
    position: absolute;
    width:27%;
    height: 35%;
    background-color: red;
    opacity: 0.2;

   }


   #secondwindow{
    left:34%;
    top: 30px;
    position: absolute;
    width:27%;
    height: 35%;
    background-color: green;
    opacity: 0.2;

   }

   #thirdwindow{
    left:68%;
    top: 30px;
    position: absolute;
    width:27%;
    height: 35%;
    background-color: blue;
    opacity: 0.2;
   }