

.logo1{
/* width:356,25px;
height: 33px; */

width: 16vw;
height: 1.74vw;

max-height: 50px;
max-width: 480px;
padding-top: 10px;
margin-top: 0px;
margin-left: 12px;
z-index: 150;
position: absolute;
}


a{
  text-decoration: none;
  color: black;
  
}

a:hover{
  color:#FFAA46;
}

#menutitles2 a{
  color: white;
}


#menutitles{
   margin-left: 50%;
    margin-top: 15px; 
}


#menutitles li{
    margin-top: 30px; 
display: inline-block;
margin-right: 5%;
font-size: 0.8vw;

font-family: Helvetica;
font-weight: 100;
}


#wrap{
  
    margin-top: -1%;
    position: relative;
    z-index: 100;
    height: 61px;
    width: 100%;
   
    background-color: white;

    display: block;

    width: 101%;
    margin-left: -8px;
    
    
  
}

/* #vlinewrap{
  
} */


#verticalline{
    height:75%;
    width:1px;
    background-color: black;
    display: block;
    position: absolute;
    margin-left: 50vw;
    margin-top: 17px;
}

#menutitles li:hover{
    color:#FFAA46;

}

.drapeaufrance{
  position: absolute;
  width:27px;
  float: right;
  margin-left: 97%;
  margin-top: 5px;

}



.drapeauuk{
    position: absolute;
    width:27px;
    float: right;
    margin-left: 97%;
    margin-top: 10px;

}

#button{
    margin-top: 20px;
    display: none;
    z-index: 11;
}

#togglemenu{
margin-left: -501px;
    position: fixed;
    width:350px;
    height: 120%;
    background-color: #15284A;
    display: block;
   /* margin-left:60%; */
   margin-top:33px;
   z-index: 10;
 
}


#menutitles2{
    margin-top: 180px;
    color: #FFF;
    list-style-type: none;
    font-family: Helvetica;
}

#menutitles2 li{
    margin-top: 25px;
    font-weight: 100;
    
}


#menudef{float:left; width: 400px;}




@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  /* The element to apply the animation to */
 #menu1 {
   
    
    animation-name: example;
    animation-duration: 1.3s;
  }

  #menu2 {
   
    
    animation-name: example;
    animation-duration: 2.6s;
  }
  #menu3 {
   
    
    animation-name: example;
    animation-duration: 3.9s;
  }
  #menu4 {
   
   
    animation-name: example;
    animation-duration: 5.2s;
    
  }

  #menu5 {
   
   
    animation-name: example;
    animation-duration: 6.8s;
    
  }

