@media (max-width: 1000px){


    #wrap{


margin-top: -10px;

    }




    #menutitles{
       display: none;
     }

 .logo1{
    margin-top: 7px;

   /*  min-height: 50px;
min-width: 15px; */
} 
   


.drapeauuk{
    margin-left: 96%;
    margin-top: 25px;

}



    #button{
    
        margin-top: 35px;
        display: block;
        width: 70px;
        height: 200px;
       float: left;
        z-index: 50;
         position:absolute; 
        margin-left:23px;
    }
    
    
    
    
    #line{
        width:23px;
        border: 1px solid #000000;
        height:0px ;
        margin-top:4px;
        position: absolute;
    }

    #line2{
        width:23px;
        border: 1px solid #000000;
        height:0px ;
        margin-top:10px;
        position: absolute;
        
    }

    #line3{
        width:23px;
        border: 1px solid #000000;
        height:0px ;
        margin-top:16px;
        position: absolute;
        
    }


    #verticalline{
        
        margin-top: 17px;
    }

}