@media (max-device-width: 550px){





#wrap{ 
    height: 200px;
  
}



.logo1{
    
    width: 48vw;
    height: 5.22vw;
    
   
    }



#verticalline{
   
    margin-top: 77px;
}


#button{
    margin-top: 100px;
   
}

  
#line{
    width:92px;
    border: 10px solid #000000;
    height:0px ;
    margin-top:4px;
    position: absolute;
}

#line2{
    width:92px;
    border: 2px solid #000000;
    height:0px ;
    margin-top:25px;
    position: absolute;
    
}

#line3{
    width:92px;
    border: 10px solid #000000;
    height:0px ;
    margin-top:46px;
    position: absolute;
    
}



.drapeauuk{
    margin-left: 85%;
    margin-top: 25px;
    height: 100px;
    width: 140px;

}





}