@media (max-device-width: 550px){


    .profilbigwrap{
       margin-top: 400px;
       
              
     }

     .profilbigwrap2{
        margin-top: 400px;
          
               
      }
      .profilbigwrap3{
        margin-top: 400px;
          
               
      }
      .profilbigwrap4{
        margin-top: 400px;
          
               
      }
      .profilbigwrap5{
        margin-top: 400px;
          
               
      }

      .profilbigwrap6{
        margin-top: 400px;
          
               
      }
      .profilbigwrap7{
        margin-top: 400px;
          
               
      }

      .profilname{
        display: none;
        padding-left: 22%;
        font-size: 50px;
    }

    .profilname2{
   
      display: block;
      font-family: mySecFont;
      font-weight: 100;
     text-align: center;
      font-size: 50px;
      opacity: 1;
margin-top: 0px;
position: relative;
  }

    .profilwrap{
        
        grid-template-columns: 100%;
    }


    .imagewrap{
        
        margin-left: 22%;
     }



    .textwrap{
       text-align: left;
        margin-top: 100px;
       padding-left: 50px;
    font-size: 40px;
    line-height: 40px;
    
    
     }



     .bandedessous h2 a{
       
      font-size: 37px;
      padding-left: 29%;
      width: 100%;
    
    }



    .mail{font-size: 40px;
  }

  .photolinkdin{
    float: left;
    top: 0px;
    right: 0px;
    left: -22px;
   height: 100px;
   
}




}