
@font-face {
    font-family: mySecFont;
    src: url(HelveticaNeueLight.ttf);
    font-weight: 100;
  }



.profilbigwrap{
   height: 50%;
    position: relative;
    background-color: white;
    

    
    grid-template-columns:100%;
   
    width:100%;
    
    font-weight: 100;
    
         
}


.profilbigwrap2{
    height: 50%;
     position: relative;
     background-color: white;
     
 
     display: none;
     grid-template-columns:100%;
    
     width:100%;
     
     font-weight: 100;
          
 }

 .profilbigwrap3{
    height: 50%;
     position: relative;
     background-color: white;
     
 
     display: none;
     grid-template-columns:100%;
    
     width:100%;
     
     font-weight: 100;
          
 }


 .profilbigwrap4{
    height: 50%;
     position: relative;
     background-color: white;
     
 
     display: none;
     grid-template-columns:100%;
    
     width:100%;
     
     font-weight: 100;
          
 }

 .profilbigwrap5{
    height: 50%;
     position: relative;
     background-color: white;
     
 
     display: none;
     grid-template-columns:100%;
    
     width:100%;
     
     font-weight: 100;
          
 }



.profilname{
    
    margin-top: 0px;
    position: relative;
    display: block;
    font-family: mySecFont;
    font-weight: 100;
    font-size: 30px;
    text-align: left;
    line-height: normal;
}

.profilname2{
display: none;

}





.profilwrap{
    position: relative;
  
   margin-bottom: 50px;

    display: grid;
    grid-template-columns: 50% 50%;
   
    width:100%;
   
    font-weight: 100;
    font-size: 14px;
 }



 .imagewrap{
    z-index: 5;
    width: 55%;
    margin-left: 30%;
 }

 .photolinkdin{
    float: right;
    top: -45px;
    right: -20px;
 }


 .photoavocatgrand{
   /*  height: 600px; object-fit: cover;
    object-position: -20% 0; */
    width: 100%;
    margin-bottom: -10%;
 }

.mail{
    float: left;
    font-size: 14px;
    margin-top: 15%;
    font-family: mySecFont;
    font-weight: 100;
}



 

 @font-face {
    font-family: mySeFont;
    src: url(../HelveticaNeueLight.ttf);
    font-weight: 100;
  }

  @font-face {
    font-family: mySecFont2;
    src: url(../HelveticaNeue.ttc);
    font-weight: lighter;
  }


  

 .textwrap{
    font-family: mySeFont;
width: 75%;
    margin-left: 0%;
    font-weight: lighter;
font-size: 17px;
text-align: justify;
line-height: 23px;
padding-bottom:40px;


 }


 .bandedessous{
   
    position: relative;
        background-color: #57594B;
        z-index: 0;
        /* margin-left: 50px; */
    margin-bottom: 2px;
 margin-top: -5%;
     display: grid;
     grid-template-columns: 50% 30%;
    
     width:100%;
    height:100px;
     font-weight: 100;
     font-size: 14px;
 }
 .bandedessous h2{
    padding-top: 12px;
  
    
 }

 .bandedessous h2 a{
    width: 300px;
    font-family: mySeFont;
    padding-top: 16px;
padding-left: 100%;
padding-bottom: 0px;
color: white;
 line-height: 10px;
font-weight: 100;
float: left;

}


.photolinkdin{
    position: relative;
    margin-left: -15px;
    margin-top: 0px;
    clear: left;
   
}





@media (max-width: 1010px){

    .textwrap{
        
    width: 90%;
       
    
     }



     .bandedessous{
        
        margin-top: -6%;
        
     }


     .photoavocatgrand{
      
        
         margin-bottom: -250px;
      }


    .mail{
        margin-top: 250px;
    }

    .photolinkdin{
        
        padding-top: 30px;
        
       
    }

}


@media (max-width: 700px){

    .bandedessous h2 a{
        width: 100px;
        font-family: mySeFont;
        padding-top: 10px;
    padding-left: 100%;
    padding-bottom: 0px;
    color: white;
     line-height: 20px;
    font-weight: 100;
    float: left;
    
    }


    .photolinkdin{
        position: relative;
        margin-left: -40px;
        padding-top: 30px;
        float: left;
       
    }

    .mail{
       font-size: 16px;
    }

}





